@import url('https://fonts.googleapis.com/css2?family=Kirang+Haerang&family=Moirai+One&display=swap');

* {
    font-family: "Kirang Haerang", system-ui;
}

#introduction{
    text-align: center;
    font-family: "Moirai One", system-ui;
    font-size: 50px;
}

#title{
    text-align: center;
    font-family: "Moirai One", system-ui;
    font-size: 40px;
}

#container{
    width: 80%;
    border: 6px dotted blueviolet;
    background-color: white;
    margin: auto;
}

body{
    background-color: bisque;
}

img{
    height: 300px;
    margin-left:10%;
    border-radius: 300px;
    margin-right: 50px;
}

section{
    margin: auto;
    font-size: 30px;
}

.description{
    display: inline-block;
}

p{
    font-size: 50px;
    text-align: center;
}
a{
    text-decoration: none;
    color: brown;
}